*{
    box-sizing: border-box;
}

body{
    margin : 0;
    background-color: green;
    background: url("https://devnicolasnmk.github.io/serpentJs/asset/img/forest.jpg");
}

h1{
    color: rgba(255,255,255,.5);
    font-size: 50px;
}

p {
    color: rgba(255, 255, 255, .9);
    font-size: 20px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 25%;
    
}
button{
    display: flex;
    height: 20%;
    align-items: center;
    border-radius: 5px;
}

canvas{
    background : url("../img/bg.png");
    background-size: 902px 602px;
}